<div class="admin">
    <h2 class="text-center">Hello Admin!</h2>
    <hr>
    <table class="table mt-5 mx-lg-auto">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.username}}</td>
                <td>{{this.email}}</td>
                <td class="ms-3">{{this.phone}}</td>
                <td>{{this.role}}</td>
                <td>
                    <a href="/update/{{this.id}}" class="btn btn-light">Edit</a>
                    <a href="/delete/{{this.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="text-center mt-4">
        <a href="/register" class="btn btn-light">Add new User</a>
    </div>
</div>
